@font-face {
    font-family: 'BPG Arial';
    src: url('../fonts/bpg-arial-webfont.eot');
    src: url('../fonts/bpg-arial-webfont.eot?#iefix') format("embedded-opentype"),
        url('../fonts/bpg-arial-webfont.woff2') format("woff2"),
        url('../fonts/bpg-arial-webfont.woff') format("woff"),
        url('../fonts/bpg-arial-webfont.ttf') format("truetype"),
        url('../fonts/bpg-arial-webfont.svg#bpg_arialregular') format("svg");
}


@font-face {
    font-family: 'BPG Mrgvlovani Caps';
    src: url('../fonts/bpg-mrgvlovani-caps-webfont.eot');
    src: url('../fonts/bpg-mrgvlovani-caps-webfont.eot?#iefix') format("embedded-opentype"),
        url('../fonts/bpg-mrgvlovani-caps-webfont.woff2') format("woff2"),
        url('../fonts/bpg-mrgvlovani-caps-webfont.woff') format("woff"),
        url('../fonts/bpg-mrgvlovani-caps-webfont.ttf') format("truetype"),
        url('../fonts/bpg-mrgvlovani-caps-webfont.svg#bpg_mrgvlovani_capsregular') format("svg");
}

@font-face {
    font-family: 'BPG Banner';
    src: url('../fonts/bpg-banner-webfont.eot');
    src: url('../fonts/bpg-banner-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-banner-webfont.woff2') format('woff2'),
         url('../fonts/bpg-banner-webfont.woff') format('woff'),
         url('../fonts/bpg-banner-webfont.ttf') format('truetype'),
         url('../fonts/bpg-banner-webfont.svg#bpg_bannerregular') format('svg');
}

@font-face {
    font-family: 'BPG Banner ExtraSquare Caps';
    src: url('../fonts/bpg-banner-extrasquare-caps-webfont.eot');
    src: url('../fonts/bpg-banner-extrasquare-caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-banner-extrasquare-caps-webfont.woff2') format('woff2'),
         url('../fonts/bpg-banner-extrasquare-caps-webfont.woff') format('woff'),
         url('../fonts/bpg-banner-extrasquare-caps-webfont.ttf') format('truetype'),
         url('../fonts/bpg-banner-extrasquare-caps-webfont.svg#bpg_banner_extrasquare_capsregular') format('svg');
}



@font-face {
    font-family: 'Metropolis Regular';
    src: url('../fonts/Metropolis/Metropolis-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Metropolis Light';
    src: url('../fonts/Metropolis/Metropolis-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Metropolis Bold';
    src: url('../fonts/Metropolis/Metropolis-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Metropolis Black';
    src: url('../fonts/Metropolis/Metropolis-Black.otf') format("opentype");
}